/* Start Global Vars */
:root {
  --main-color: #10cab7;
  --second-color: #2c4755;
  --padding: 60px;
}
/* End Global Vars */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* End Global Rules */
/* Start of the code */

@media (max-width: 767px) {
  .header .links {
    position: relative;
    max-width: 100%;
  }
}
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 50px;
}
.header .links {
  position: relative;
  top: 3px;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 80%;
}
.header .links .icon span:last-child {
  width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
  transition: 0.5s;
}
.header .links ul {
  list-style: none;
  margin: 7px;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: -6px;
  min-width: 200px;
  top: calc(100% + 10px);
  display: none;
  transition: 0.5s;
}
.header .links:hover ul {
  display: block;
  animation-name: LinkDrop;
  animation-duration: 2s;
}
@keyframes LinkDrop {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li {
  height: 30px;
}
.header .links ul li a {
  display: inline-block;
  position: absolute;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  text-align: justify;
}
.header .links ul li:hover {
  padding-left: 10px;
  transition: 0.5s;
  animation-timing-function: ease-in-out;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* End Header -------------------------------------------------------------- */

.landing {
  background-image: url(../images/618268ceb62a6.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  z-index: -1;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: auto;
}

/* End Landing-------------------------------------------------------------- */

@media (max-width: 767px) {
  .features .container {
    max-width: 100%;
  }
}
.features {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
  font-size: 50px;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 2;
  color: #777;
  font-size: 17px;
}

/* End Features------------------------------------------------------------- */

@media (max-width: 767px) {
  .services .special-heading {
    max-width: 100%;
  }
  .services .container {
    max-width: 100%;
  }
  .services .container p {
    max-width: 100%;
  }
}
.services {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
  font-size: 35px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .h3 {
  margin: 0 0 20px;
}
.services .services-content .srv p {
  color: #444;
  font-weight: 300;
  line-height: 1.7;
}
.services .services-content .col .image::before {
  content: "";
  position: absolute;
  background-color: var(--second-color);
  width: 80px;
  height: 600px;
  top: -50px;
  right: -20px;
  z-index: -1;
}
.services .services-content .image {
  position: relative;
  height: 500px;
  width: 260px;
}
.services .services-content .image img {
  text-align: center;
  position: relative;
  height: 500px;
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
    transition: 0.5s;
  }
}

/* End Services------------------------------------------------------------- */

@media (max-width: 767px) {
  .portfolio .special-heading {
    max-width: 100%;
  }
  .portfolio .container p {
    max-width: 100%;
  }
  .portfolio .portfolio-content .card {
    max-width: 100%;
  }
  .portfolio .portfolio-content .card .info {
    text-align: center;
  }
}
.portfolio {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #f6f6f6;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  max-height: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

/* End Portfolio-=---------------------------------------------------------- */

@media (max-width: 767px) {
  .about .special-heading {
    max-width: 100%;
  }
  .about .container p {
    max-width: 100%;
  }
  .about .about-content .image {
    max-width: 100%;
  }
  .about .about-content .text {
    font-size: 15px;
    max-width: 100%;
  }
}
.About {
  padding-top: var(--padding);
  padding-bottom: calc(var(--padding) + 60px);
}
.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image img {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  background-color: #062736;
  z-index: -1;
  opacity: 90%;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 60px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 80px;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
  flex: 1;
  margin-left: 10px;
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: ;
}

/* End About-=------------------------------------------------------------- */

@media (max-width: 767px) {
  .contact .special-heading {
    max-width: 100%;
  }
  .contact .container p {
    max-width: 100%;
  }
  .contact .info .link {
    max-width: 100%;
  }
  .contact .info .social {
    max-width: 100%;
  }
}
.contact {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #f6f6f6;
}
.contact .info {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--second-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--second-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}

/* End Contact-=----------------------------------------------------------- */

.footer {
  background-color: var(--second-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
